@page "/profile/{hamsterId}/{oldpage}"
@inject NavigationManager navigation;
@inject HamsterService hamsterService;

<h3>Profile for @_hamster.Name</h3>
<HamsterComponent Hamster="@_hamster" IsProfile="Isprofile"></HamsterComponent>


<button @onclick="GoBack" class="btn btn-secondary">Back</button>
<button @onclick="OpenDeleteDialog" class="btn btn-danger">Delete</button>

<button @onclick="ShowMatches" class="btn btn-primary">@_ShowHide Matches</button>
@if (_showMatches)
{
    
<MatchComponent Hamster="@_hamster"></MatchComponent>
}

@*---Modal----*@
@if (DeleteDialogOpen)
{
    <ModalComponent hamster="_hamster"
                    OnClose="@OnDeleteDialogClose">
    </ModalComponent>
}


