@inherits LayoutComponentBase

<PageTitle>WarHamsters</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
      @*  <div class="top-row px-4">
            <a href="/" >Hamster Wars</a>
        </div>*@

        <article class="content px-4 mt-5">
            @Body
        </article>
    </main>
</div>
