@inject IJSRuntime JSRuntime

@*Kod hämtad från https://www.prowaretech.com/articles/current/blazor/wasm/bootstrap-enable-carousel *@


<!-- NOTE: the data-bs- attributes added as per the Bootstrap v5.1 instructions -->
<div id="@carouselName" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true" data-bs-interval="5000" data-bs-pause="hover">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <NavLink href="battle">
                <img src="/images/carousel/War.jpg" class="carousel-image w-100" alt="...">
                <div class="carousel-caption">
                    <h3>Go To Battle</h3>
                    <p>Vote for the cutest Hamster</p>
                </div>
            </NavLink>
        </div>
        <div class="carousel-item h-100">
            <NavLink href="gallery">
                <img src="/images/carousel/gallery.jpg" class="carousel-image w-100 " alt="...">
                <div class="carousel-caption">
                    <h3>Gallery</h3>
                    <p>Watch and search through all our cute Hamsters</p>
                </div>
            </NavLink>
        </div>
        <div class="carousel-item">
            <NavLink href="add">
                <img src="/images/carousel/add.png" class="carousel-image w-100" alt="...">
                <div class="carousel-caption">
                    <h3>Add Hamster</h3>
                    <p>Here you can add you own hamster</p>
                </div>
            </NavLink>
        </div>
        <div class="carousel-item container-sm h-100">
            <NavLink href="top5">
                <img src="/images/carousel/top5.jpg" class="carousel-image w-100 " alt="...">
                <div class="carousel-caption">
                    <h3>Top 5</h3>
                    <p>The cutest 5</p>
                </div>
            </NavLink>
        </div>
        <div class="carousel-item">
            <NavLink href="low5">
                <img src="/images/carousel/low5.jpg" class="carousel-image w-100" alt="...">
                <div class="carousel-caption">
                    <h3>LOW 5</h3>
                    <p>Not the cutest 5</p>
                </div>
            </NavLink>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@code {
    const string carouselName = "carouselExampleIndicators"; // NOTE: the ID of the carousel

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        object[] args = { carouselName };
        await JSRuntime.InvokeVoidAsync("startCarousel", args); // NOTE: call JavaScript function with the ID of the carousel
    }
}