@using DataLibrary.Services
@inject MatchService matchservice
@inject HamsterService hamsterservice

<div class="text-center">
    <div class="card card-goodies " style="background-color:darkcyan">
        <div class="card-header">Matches</div>
        @foreach (var match in matches)
        {
            <div class="card-body">
                <strong>Match Id:</strong> @match.Id
                <strong>Winner:</strong> @hamsters.Where(x=>x.Id == match.WinnerId).First().Name
                <strong>Looser:</strong> @hamsters.Where(x=>x.Id == match.LoserId).First().Name
            </div>
        }
    </div>
</div>


@code {
    [Parameter]
    public Hamster Hamster { get; set; }
    private List<Hamster> hamsters { get; set; }
    private List<Match> matches;

    protected override void OnInitialized()
    {
        matches = matchservice.GetAllMatchesByHamsterId(Hamster.Id);
        hamsters = hamsterservice.GetAllHamsters();
    }

}
